.env
.env.*
!.env.example
venv/
.venv/
*.pem
*.key
*token*
node_modules/
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
dist/
out-tsc/
coverage/
.nyc_output/
.npm/
.gradle/
build/
*/build/
!gradle/wrapper/gradle-wrapper.jar
*.class
*.jar
*.war
*.ear
*.aar
*.apk
*.ap_
.idea/
*.iml
*.iws
*.ipr
out/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
